<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <title>Oups, une erreur 404 est apparue {{ status_text }}</title>
</head>
<body>
<h1>Oups, une erreur 404 est apparue</h1>
<h2>Voici l'erreur 404 attrapée, héhé: "{{ status_code }} {{ status_text }}".</h2>

<div>
    Bon, okay, on peut flipper: la page n'existe pas. Vous nous le signalez
    et on résout le problème!
</div>
</body>
</html>
