<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <title>Oups, une erreur est apparue {{ status_text }}</title>
</head>
<body>
<h1>Oups, une erreur est apparue</h1>
<h2>Voici l'erreur attrapée au vol: "{{ status_code }} {{ status_text }}".</h2>

<div>
    Pas de panique, cela arrive. Merci de nous prévenir et nous ferons au maximum
    pour améliorer les choses :).
</div>
</body>
</html>
